/* app css stylesheet */

.view-panel{
  padding-left: 25%;
  padding-right: 25%;
}

.reco-item{
  height: 500px
}

.carousel-caption{
  font-size: 50px !important;
  color: grey !important;
  padding-bottom: 195px !important;
}

.carousel-indicators .active{
  width: 25px !important;
  height: 25px !important;
  border-radius: 25px !important;
}

.carousel-indicators li{
  background-color: darkgrey !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px !important;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;  
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid darkgray;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}